<div ui-layout  >

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container size="250px" >

                <div class="left-inner-addon ">
                    <img src="../img/buho_32.png" alt="Filter" height="32" width="42">
                    <input type="search"
                           data-ng-model="mascara"
                           data-ng-keyup="buscaArbol()"/>
                </div>

                <div id="arbRules" data-ng-model="arbRules"> </div>
            </div>
            <div ui-layout-container >
                 <div ng-include="'partials/rules/ruleHead.htm'" ng-show="nodeType  < 2"/>
                 <div ng-include="'partials/rules/ruleItem.htm'" ng-show="nodeType == 2"/>
            </div>

        </div>
    </div>

</div>

