<h1>Pagina admin</h1>
<!--
<div class="sdpHeader">
    <div class="col-md-2"> <span class="marca" data-ng-click="pagina = 0">P.F.C. 2</span></div>
    <div id='mnubar' class="col-md-10">
        <ul>
            <li data-ng-click="ventana(1)" data-ng-class="{'active' : vista == 1}" ><a href='#'><span>Aplicaciones</span></a></li>
            <li data-ng-click="ventana(2)" data-ng-class="{'active' : vista == 2}"><a href='#'><span>Usuarios</span></a></li>
            <li data-ng-click="ventana(3)" data-ng-class="{'active' : vista == 3}"><a href='#'><span>Configuracion</span></a></li>
            <li data-ng-click="ventana(4)" data-ng-class="{'active' : vista == 4}" class='last pull-right' ><a href='#'><span>Contacto</span></a></li>
        </ul>
    </div>

</div>

<div class="sdpContent">
-->
<!--
    <div id="appView"      data-ng-show="vista == 1" data-ng-include="'partials/admin/appl.htm'"></div>
    <div id="userView"     data-ng-show="vista == 2" data-ng-include="'partials/admin/user.htm'"></div>
    <div id="configView"   data-ng-show="vista == 3" data-ng-include="'partials/admin/config.htm'"></div>
    <div id="contactView"  data-ng-show="vista == 4" data-ng-include="'partials/admin/contact.htm'"></div>
-->
<!--
</div>

<div class="sdpFooter">
    Javier González Grández (2015)
</div>
-->