<div class="panel-heading">
    {{MSG.MOD_CMT_TITLE}}
</div>
<div class="panel-body">

    <table class="table-listado table-hover">
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_CMT_CMT}}</td>
            <td class="col-md-5 text-right tbLinea">{{node.comments.comments}}</td>
        </tr>
        <tr class="clickable">
           <td class="col-md-7" >{{MSG.MOD_CMT_BLANKS}}</td>
           <td class="col-md-5 text-right tbLinea">{{node.comments.blanks}}</td>
        </tr>
        <tr class="clickable">
           <td class="col-md-7" >{{MSG.MOD_CMT_BLOCKS}}</td>
           <td class="col-md-5 text-right tbLinea">{{node.comments.blocks}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_CMT_DECORATORS}}</td>
            <td class="col-md-5 text-right tbLinea">{{node.comments.decorators}}</td>
        </tr>


    </table>

</div>
</div>