<div class="panel-heading">
    {{MSG.MOD_VERB_TITLE}}
</div>
<div class="panel-body">

    <table class="table-listado">
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_TOTAL}}</td>
            <td class="col-md-5 text-right">{{node.verbs.total}}</td>
        </tr>
        <tr class="clickable">
           <td class="col-md-7" >{{MSG.MOD_VERB_DATA}}</td>
           <td class="col-md-5 text-right">{{node.verbs.data}}</td>
        </tr>
        <tr class="clickable">
           <td class="col-md-7" >{{MSG.MOD_VERB_CTRL}}</td>
           <td class="col-md-5 text-right">{{node.verbs.ctrl}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_IO}}</td>
            <td class="col-md-5 text-right">{{node.verbs.io}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_FLOW}}</td>
            <td class="col-md-5 text-right">{{node.verbs.flow}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_ARIT}}</td>
            <td class="col-md-5 text-right">{{node.verbs.arit}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_LANG}}</td>
            <td class="col-md-5 text-right">{{node.verbs.lang}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_CICS}}</td>
            <td class="col-md-5 text-right">{{node.verbs.cics}}</td>
        </tr>
        <tr class="clickable">
            <td class="col-md-7" >{{MSG.MOD_VERB_SQL}}</td>
            <td class="col-md-5 text-right">{{node.verbs.sql}}</td>
        </tr>


    </table>

</div>
