  <div class="panel-heading">
      {{MSG.LOG}}
  </div>
  <div class="panel-body" style="padding: 0px;">

      <table class="table table-hover table-striped">
          <thead class="panel-heading">
            <tr>
               <th class="panel-heading"
                   data-ng-class="{'clickable': sdp.filterLog[0] != null}"
                   data-ng-click="filtroLog(0, fila.codigo)">
                   <span class="pull-left glyphicon glyphicon-filter" data-ng-show="sdp.filterLog[0] != null"></span>
                   {{MSG.LOG_ID}}
               </th>
               <th class="panel-heading"
                   data-ng-class="{'clickable': sdp.filterLog[1] != null}"
                   data-ng-click="filtroLog(1, fila.log.objeto)">
                   <span class="pull-left glyphicon glyphicon-filter" data-ng-show="sdp.filterLog[1] != null"></span>
                   {{MSG.LOG_OBJ}}
               </th>
               <th class="panel-heading"
                   data-ng-class="{'clickable': sdp.filterLog[2] != null}"
                   data-ng-click="filtroLog(2, fila.log.tms)">
                   <span class="pull-left glyphicon glyphicon-filter" data-ng-show="sdp.filterLog[2] != null"></span>
                   {{MSG.LOG_DATE}}
               </th>
               <th class="panel-heading"
                   data-ng-class="{'clickable': sdp.filterLog[2] != null}"
                   data-ng-click="filtroLog(3, fila.log.uid)">
                   <span class="pull-left glyphicon glyphicon-filter" data-ng-show="sdp.filterLog[3] != null"></span>
                   {{MSG.LOG_UID}}
               </th>
               <th class="panel-heading">
                   {{MSG_LOG_MSG}}
               </th>
          </tr>

          </thead>
          <tr class="listado" data-ng-repeat="fila in logData">
              <td class="col-md-1 clickable" data-ng-click="filtroLog(0, fila.codigo)">
                  {{fila.codigo}}
              </td>
              <td class="col-md-1 clickable" data-ng-click="filtroLog(1, fila.log.objeto)">
                  {{fila.log.objeto}}
              </td>
              <td class="col-md-1 clickable" data-ng-click="filtroLog(2, fila.log.tms)">
                  {{fila.log.tms | date : 'short' : timezone}}
              </td>
              <td class="col-md-1 clickable" data-ng-click="filtroLog(3, fila.log.uid)">
                  {{fila.log.uid}}
              </td>
              <td class="col-md-8">
                  {{fila.msg}}
              </td>
          </tr>

      </table>

  </div>
