<div class="panel-heading">Dependencias</div>
<div class="panel-body">

    <table class="table table-hover">
        <tr class="listado clickable"
            data-ng-click="cambiaPieModulo(2)"
            title={{MSG.RES_SHOW_EXE}}
            data-toggle="tooltip"
            data-placement="top" tooltip>
            <td class="col-md-8" >Ficheros y tablas</td>
            <td class="col-md-4 text-right tbLinea">{{modulo.depSummary.files}}</td>
        </tr>
        <tr class="listado">
            <td class="col-md-8 tbLinea clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                Variables de trabajo
            </td>
            <td class="col-md-4 tbLinea text-right clickable"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>

        <tr class="listado">
            <td class="col-md-8 tbLinea clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                Intercambio de datos
            </td>

            <td class="col-md-4 tbLinea text-right clickable"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                {{modulo.depSummary.link}}
            </td>
        </tr>

        <tr class="listado clickable"
            data-ng-click="cambiaPieModulo(1)"
            title={{MSG.RES_SHOW_SRC}}
            data-toggle="tooltip"
            data-placement="top" tooltip>
            <td class="col-md-8 tbLinea ">Codigo</td>
            <td class="col-md-4 tbLinea text-right ">0</td>
        </tr>
        <tr class="listado clickable"
            data-ng-click="cambiaPieModulo(2)"
            title={{MSG.RES_SHOW_EXE}}
            data-toggle="tooltip"
            data-placement="top" tooltip>
            <td class="col-md-8">Rutinas (Nivel 0)</td>
            <td class="col-md-4 text-right">{{modulo.depSummary.call}}</td>
        </tr>

        <tr class="listado clickable"
            data-ng-click="cambiaPieModulo(2)"
            title={{MSG.RES_SHOW_EXE}}
            data-toggle="tooltip"
            data-placement="top" tooltip>
            <td class="col-md-8">Rutinas</td>
            <td class="col-md-4 text-right">{{modulo.depSummary.callAll}}</td>
        </tr>

    </table>

</div>
</div>