<div class="col-lg-12 marco">
   <div class="panel panel-primary col-md-12">
       <div class="panel-heading">
           {{MD.title}}
           <a class="glyphicon glyphicon-remove more-less "
              ng-click="close()">
           </a>
       </div>
       <div id="mdEdit" class="panel-body">
           <div class="row">
               <div class="col-lg-6">
                   <div class="form-group">
                       <textarea 	name="mdeditor" class="content-box"
                                    ng-model="MD.raw"
                                    markdown-editor="{'iconlibrary': 'fa'
                                                      ,'addExtraButtons': true
                                                      ,'resize': 'vertical'}"
                                    rows="20" >
                       </textarea>
                  </div>
               </div>
               <div class="col-lg-6 fill">
                   <div class="form-group">
                       <div marked="mdeditor" class="markdown outline" style="padding: 20px">
                       </div>
                   </div>
               </div>
           </div>
   
           <hr/>
   
           <div class="markdown outline" style="padding:20px; margin-bottom: 20px" marked src="'readme.md'">
           </div>
   
       </div>
   </div>
</div>   