<div class="panel panel-primary" ng-show="node.items0.length > 0">
    <div class="panel-heading">
        {{MSG.RUL_RULES_0_TITLE}}
        <a class="glyphicon more-less " data-toggle="collapse" href="#ruleItems"
           ng-click="itemsCollapsed = !itemsCollapsed"
           ng-class="{'glyphicon-chevron-up': !itemsCollapsed, 'glyphicon-chevron-down': itemsCollapsed}">
        </a>
    </div>
    <div id="ruleItems" class="panel-body panel-collapse collapse in marco">
        <table class="table table-striped table-bordered table-hover">
            <thead class="panel panel-primary">
            <tr class="panel panel-primary">
                <th class="panel-heading">{{MSG.RUL_RULE_CODE}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_NAME}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_SEVERITY}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_STATUS}}</th>
                <th class="panel-heading">&nbsp</th>
            </tr>
            </thead>
            <tr class="rowHeader">
                <td class="col-md-1" >&nbsp </td>
                <td class="col-md-1" >&nbsp </td>
                <td class="col-md-8"> </td>
                <td class="col-md-1" > </td>
                <td class="col-md-1" > </td>
            </tr>

            <tr class="listado clickable" data-ng-repeat="r in node.items0">
                <td class="col-md-1" >{{r.code}}</td>
                <td class="col-md-8">{{r.desc}} </td>
                <td class="col-md-1" >{{r.severity}}</td>
                <td class="col-md-1" >{{MSG.RUL_RULE_STATUS_DESC[1]}}</td>
                <td class="col-md-1" ><i class="glyphicon glyphicon-edit clickable"
                                         style="color:#008000"
                                         ng-click="editRule(r.id)">
                                     </i>
                </td>
            </tr>


        </table>

    </div>
</div>

<div class="panel panel-primary" ng-show="node.items1.length > 0">>
        <div class="panel-heading">
            {{MSG.RUL_RULES_1_TITLE}}
            <a class="glyphicon more-less " data-toggle="collapse" href="#ruleItems1"
               ng-click="itemsCollapsed1 = !itemsCollapsed1"
               ng-class="{'glyphicon-chevron-up': !itemsCollapsed1, 'glyphicon-chevron-down': itemsCollapsed1}">
            </a>
        </div>

    <div id="ruleItems1" class="panel-body panel-collapse collapse in marco">
        <table class="table table-striped table-bordered table-hover">
            <thead class="panel panel-primary">
               <tr class="panel panel-primary">
                <th class="panel-heading">{{MSG.RUL_RULE_CODE}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_NAME}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_SEVERITY}}</th>
                <th class="panel-heading">{{MSG.RUL_RULE_STATUS}}</th>
                <th class="panel-heading">&nbsp</th>
            </tr>
            </thead>
            <tr class="rowHeader">
                <td class="col-md-1" >&nbsp </td>
                <td class="col-md-1" >&nbsp </td>
                <td class="col-md-8"> </td>
                <td class="col-md-1" > </td>
                <td class="col-md-1" > </td>
            </tr>

            <tr class="listado clickable" data-ng-repeat="r in node.items1">
                <td class="col-md-1" >{{r.code}}</td>
                <td class="col-md-11">{{r.desc}} </td>
                <td class="col-md-1" >{{r.severity}}</td>
                <td class="col-md-1" >{{MSG.RUL_RULE_STATUS_DESC[1]}}</td>
                <td class="col-md-1" ><i class="glyphicon glyphicon-edit clickable"
                                         style="color:#008000"
                                         ng-click="editRule(r.id)">
                </i>
                </td>
            </tr>


        </table>

    </div>

</div>

