<div class="panel panel-primary">
   <div class="panel-heading">
       {{MSG.RUL_DESCRIPTION}}
       <a class="glyphicon more-less " data-toggle="collapse" href="#ruleDesc"
          ng-click="descCollapsed = !descCollapsed"
          ng-class="{'glyphicon-chevron-up': !descCollapsed, 'glyphicon-chevron-down': descCollapsed}">
       </a>
       <a class="glyphicon glyphicon-edit more-less "
          ng-show="!descCollapsed"
          ng-click="editRuleDescription(node.desc)">
       </a>
   </div>
   <div id="ruleDesc" class="panel-body panel-collapse collapse in">
       <div ng-bind-html="node.desc"></div>
   </div>
</div>