.codeLine {
    text-align: right;
    font-family: "Courier New", sans-serif;
    font-size: 12px;
    line-height: 12px;
    background-color: #f0f0f0;
    color: black;
    white-space: pre;
}

.codeSource {
    text-align: left;
    font-family: "Courier New", sans-serif;
    font-size: 12px;
    line-height: 12px;
    white-space: pre;
}

.sdpSrcDivision {
    font-weight: bolder;
}

.sdpSrcSection {
    font-weight: bold;
}

.sdpSrcComment {
    color: blue;
    font-style: italic;
    overflow: hidden;
    white-space: pre;
}

.sdpSrcParrafo {
    font-weight: bold;
    overflow: hidden;
}

.sdpSrcCode {
    font-weight: normal;
    white-space: pre;
}



.usado {
    background-color: yellow;
    overflow: hidden;

}

.malo {
    background-color: red !important;
    color: white !important;
    overflow: hidden;
}

.normal {
    overflow: hidden;

}

.unused {
    overflow: hidden;
    font-style: italic;
    color: grey;
}

.escrito {
    font-weight: bold;
    overflow: hidden;

}
