<div class="panel-heading">
    {{MSG.MOD_PERS_TITLE}}
</div>
<div class="panel-body">

    <table class="table-listado">

        <tr>
            <td colspan="2" class="col-md-7 tbLinea sdpSeccion">{{MSG.MOD_PERS_FILES}}</td>
            <td class="col-md-5 text-right tbLinea">23</td>
        </tr>

        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7 clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_FILES_IO}}
            </td>
            <td class="col-md-4 text-right clickable"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_FILES_I}}
            </td>
            <td class="col-md-4 clickable text-right"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_FILES_O}}
            </td>
            <td class="col-md-4 clickable text-right"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>

        <tr>
            <td colspan="2" class="col-md-7 sdpSeccion">{{MSG.MOD_PERS_TABLES}}</td>
            <td class="col-md-5 text-right">23</td>
        </tr>

        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_TABLES_IO}}
            </td>
            <td class="col-md-4 clickable text-right"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7 clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_TABLES_I}}
            </td>
            <td class="col-md-4 clickable text-right"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-7 clickable"
                data-ng-click="cambiaPieModulo(1)"
                title={{MSG.RES_SHOW_SRC}}>
                {{MSG.MOD_PERS_TABLES_O}}
            </td>
            <td class="col-md-4 clickable text-right"
                data-ng-click="ventana(3)"
                title={{MSG.CLICK_DETAIL}}
                data-toggle="tooltip"
                data-placement="top"
                tooltip>
                0
            </td>
        </tr>

    </table>
</div>