<h1>Item</h1>
<!--
<div ui-layout>

    <div ui-layout-container>
        <div ui-layout="{flow : 'row'}" >
            <div ui-layout-container size="50%"  class="sdpContainer">

                <div class="container col-lg-12"
                     data-ng-show="node.desc.length"
                     data-ng-include="'partials/rules/ruleDesc.htm'">
                </div>
                <div class="container col-lg-12"
                     data-ng-include="'partials/rules/ruleItems.htm'">
                </div>
            </div>
            <div ui-layout-container >
                <h3>Condicion</h3>
            </div>

        </div>
    </div>

</div>

-->
