<div class="panel-heading">Funcionalidad</div>
<div class="panel-body">

    <table class="table table-hover">
        <tr class="listado">
            <td class="col-md-9">Completo</td>
            <td class="col-md-3" align="right">
                <img src="img/tick.png"    height="12" width="12" data-ng-show="modulo.attrs.full == true">
                <img src="img/cancel.png"  height="12" width="12" data-ng-show="modulo.attrs.full == false">
            </td>
        </tr>

        <tr class="listado">
            <td class="col-md-9">On Line</td>
            <td class="col-md-3" align="right">
                <img src="img/tick.png"    height="12" width="12" data-ng-show="modulo.attrs.cics == true">
                <img src="img/cancel.png"  height="12" width="12" data-ng-show="modulo.attrs.cics == false">
            </td>
        </tr>
        <tr class="listado">
            <td class="col-md-9">Acceso a SGDB</td>
            <td class="col-md-3" align="right">
                <img src="img/tick.png"    height="12" width="12" data-ng-show="modulo.attrs.sgdb == true">
                <img src="img/cancel.png"  height="12" width="12" data-ng-show="modulo.attrs.sgdb == false">
            </td>
        </tr>
        <tr class="listado">
            <td class="col-md-9">Usa ficheros</td>
            <td class="col-md-3" align="right">
                <img src="img/tick.png"    height="12" width="12" data-ng-show="modulo.attrs.file == true">
                <img src="img/cancel.png"  height="12" width="12" data-ng-show="modulo.attrs.file == false">
            </td>
        </tr>
        <tr class="listado">
            <td class="col-md-9">Invoca a otros modulos</td>
            <td class="col-md-3" align="right">
                <img src="img/tick.png"    height="12" width="12" data-ng-show="modulo.attrs.call == true">
                <img src="img/cancel.png"  height="12" width="12" data-ng-show="modulo.attrs.call == false">
            </td>
        </tr>
        <tr class="listado">
            <td class="col-md-9">&nbsp </td>
            <td class="col-md-3" align="right"> &nbsp</td>
        </tr>


    </table>

</div>
</div>