<div ui-layout="{flow : 'row'}" >
    <div id="moduloTop" ui-layout-container size="65%" >
        <div class="contenedor col-lg-12">
           <div class="panel panel-primary"
                data-ng-show="modulo.desc.length"
                data-ng-include="'partials/modulo/descripcion.htm'">
           </div>

           <div class="panel panel-primary col-lg-3"
                data-ng-include="'partials/modulo/resumen.htm'">
           </div>
            <div class="panel panel-primary col-lg-3"
                 data-ng-include="'partials/modulo/funciones.htm'">
            </div>

            <div class="panel panel-primary col-lg-2"
                 data-ng-include="'partials/modulo/sqale.htm'">
            </div>
            <div class="panel panel-primary col-lg-2"
                 data-ng-include="'partials/modulo/issues.htm'">
            </div>
            <div class="panel col-lg-1 pull-right" >
<!--                <span class="spStatusHelper"></span>-->
                <img class="sdpStatus" data-ng-show="modulo.status ==  0" src="img/tick.png">
                <img class="sdpStatus" data-ng-show="modulo.status ==  1" src="img/tick_yellow_01.png">
                <img class="sdpStatus" data-ng-show="modulo.status == -1" src="img/cancel.png">
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="contenedor col-lg-12">
            <div class="panel panel-primary col-lg-3"
                 data-ng-include="'partials/modulo/dependencias.htm'">
            </div>
            <div class="panel panel-primary col-lg-3"
                 data-ng-include="'partials/modulo/statsSum.htm'">
            </div>

            <div class="panel col-lg-2">
                <div class="cabecera">Cobertura</div>
                <div id="grfCobertura" style="height:100px;"
                     title={{MSG.CLICK_COVER}}>
                </div>
            </div>

            <div class="panel col-lg-2">
                <div class="cabecera">Complejidad</div>
                <div id="grfCC" style="height:100px;"
                     title={{MSG.CLICK_CC}}>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="panel panel-primary col-lg-4">
            <div class="panel-heading clickable"
                 title=MSG.CLICK_MAX
                 data-ng-click="panelGrafico(11, 'grfParrafos')">
                {{MSG.TIT_PARRAFOS}}
            </div>
            <div id="grfParrafos" class="panel-body" style="height:150px;"></div>
        </div>

        <div class="contenedor col-md-12" data-ng-show="modulo.resumen.ejecuciones > 0">
           <div class="panel panel-primary col-md-4">
               <div class="panel-heading clickable"
                    title=MSG.CLICK_MAX
                    data-toggle="tooltip"
                    data-placement="top" tooltip
                    data-ng-click="panelGrafico(12, 'grfUso')">
                   {{MSG.TIT_PARR_USO}}
               </div>
               <div id="grfUso" class="panel-body" style="height: 250px;" ></div>
           </div>
            <div class="contenedor col-md-4" style="padding-top: 0px; padding-left: 1em;">
            <div class="panel panel-primary">
                <div class="panel-heading clickable"
                     title=MSG.CLICK_MAX
                     data-toggle="tooltip"
                     data-placement="top" tooltip
                     data-ng-click="panelGrafico(13, 'grfConsumo')">
                    {{MSG.TIT_PARR_CONSUMO}}
                </div>
                <div id="grfConsumo" class="panel-body" style="height: 250px;" ></div>
            </div>
            </div>
           <div class="contenedor  col-md-4 pull-right" style="padding-top: 0px; padding-right: 0px;">
                <div class="panel panel-primary" data-ng-include="'partials/modulo/stats.htm'"></div>
           </div>
        </div>
        <div class="contenedor col-md-12"
             data-ng-include="'partials/nodata.htm'"
             data-ng-show="modulo.resumen.ejecuciones == 0">
        </div>
    </div>

    <div id="moduloBottom" ui-layout-container>
        <div id="divFuente"  data-ng-include="'partials/modulo/codigo.htm'"
                             data-ng-show="modFooter == 1">
        </div>
        <div data-ng-show="modFooter == 2">
            <div id="divTiempos" data-ng-include="'partials/modulo/tiempos.htm'"
                                 data-ng-show="modulo.resumen.ejecuciones > 0">
            </div>
            <div data-ng-include="'partials/nodata.htm'"
                 data-ng-show="modulo.resumen.ejecuciones == 0">
            </div>
        </div>
        <div id="divArbol"   data-ng-include="'partials/modulo/arbol.htm'"
                             data-ng-show="modFooter == 3">
        </div>
        <!-- Ventanas -->
        <div id="divCopyData" data-ng-include="'windows/copys.htm'"
                              data-ng-show="modFooter == 99">
        </div>
        <div id="divCallMod" data-ng-include="'windows/rutinas.htm'"
                             data-ng-show="modFooter == 99">
        </div>
        <div id="divResumen" data-ng-include="'windows/sentencias.htm'"
                             data-ng-show="modFooter == 99">
        </div>

    </div>
</div>
