   <div class="panel-heading">
       {{MSG.ALERT_TITLE}}
   </div>

   <div class="panel-body">

       <table class="table-listado table-hover">
          <tr>
              <td class="col-md-7">{{MSG.ALERT_ABENDS}}</td>
              <td class="col-md-5 text-right tbLinea" >
                  {{node.alertas.fallidas | number:0}}
              </td>
           </tr>
          <tr data-ng-class="{clickable: alertas.elapsedTime.length > 0}"
                            data-ng-click="filtroLogEx(0, 'A01001')"
                            title={{MSG.ALERT_FILTRO}}
                            data-toggle="tooltip"
                            data-placement="top" tooltip>
              <td class="col-md-7 tbLinea ">{{MSG.ALERT_TIME_ELAPSED}} </td>
              <td class="col-md-5 tbLinea text-right">
                {{node.alertas.elapsedTime | number:0}}
              </td>
           </tr>

          <tr data-ng-class="{clickable: alertas.cpuTime.length > 0}"
                            data-ng-click="filtroLogEx(0, 'A01002')"
                            title={{MSG.ALERT_FILTRO}}
                            data-toggle="tooltip"
                            data-placement="top" tooltip>
            <td class="col-md-7 tbLinea ">
                {{MSG.ALERT_TIME_CPU}}
            </td>
            <td class="col-md-5 tbLinea text-right ">
                {{node.alertas.cpuTime | number:0 }}
            </td>
        </tr>

          <tr data-ng-class="{clickable: alertas.suspendTime.length > 0}"
                            data-ng-click="filtroLogEx(0, 'A01003')"
                            title={{MSG.ALERT_FILTRO}}
                            data-toggle="tooltip"
                            data-placement="top" tooltip>
            <td class="col-md-7">{{MSG.ALERT_TIME_SUS}}</td>
            <td class="col-md-5 text-right">
                {{node.alertas.suspendTime | number:0 }}
            </td>
        </tr>

          <tr data-ng-class="{clickable: alertas.medias.length > 0}"
                            data-ng-click="filtroLogEx(0, 'A01004')"
                            title={{MSG.ALERT_FILTRO}}
                            data-toggle="tooltip"
                            data-placement="top" tooltip>
            <td class="col-md-7 tbLinea ">
                {{MSG.ALERT_MEDIA_OUT}}
            </td>
            <td class="col-md-5 tbLinea text-right ">
                {{node.alertas.medias | number:0 }}
            </td>
        </tr>

       </table>

   </div>
