<div class="panel-heading">{{MSG.STATS_TITLE}}</div>
<div class="panel-body">

    <table class="table-listado">
        <tr data-ng-show="vista ==  1">
            <td class="col-md-7">{{MSG.STATS_APPL}}</td>
            <td class="col-md-5 text-right tbLinea">{{node.stats.aplicaciones | number}}</td>
        </tr>
        <tr>
            <td class="col-md-7 tbLinea ">{{MSG.STATS_MODULES}}</td>
            <td class="col-md-5 tbLinea text-right">{{node.stats.modulos | number}}</td>
        </tr>

        <tr class="listado">
            <td class="col-md-7 tbLinea ">{{MSG.STATS_MONITOR}}</td>
            <td class="col-md-5 tbLinea text-right">{{node.stats.activos | number}}</td>
        </tr>

        <tr class="listado">
            <td class="col-md-7 tbLinea ">{{MSG.STATS_VARIATION}}</td>
            <td class="col-md-5 tbLinea text-right ">{{node.stats.variacion | number}}</td>
        </tr>

        <tr class="listado">
            <td class="col-md-7">{{MSG.STATS_EXECUTION}}</td>
            <td class="col-md-5 text-right">{{node.stats.sesiones | number}}</td>
        </tr>

    </table>

</div>
</div>